.cardDescription {
  font-family: Inter UI;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 0, 0, 1);

  margin-top: 0;
  margin-bottom: 7px;
}
