.rating-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: black;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  border: 2px solid rgba(233, 209, 0, 1);
}

.rating-circle-container {
  position: absolute;
  top: 10px;
  right: 10px;
}
