.card-container {
  max-width: 1010px;
}

.container {
  position: relative;
  display: flex;
  width: 451px;
  height: 279px;
}

.ant-input-group-addon {
  display: none !important;
}
div:where(.css-i0102m).ant-card .ant-card-body {
  padding: 0px;
  border-radius: 0 0 8px 8px;
}

:where(.css-dev-only-do-not-override-i0102m).ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
:where(.css-dev-only-do-not-override-i0102m).ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
  justify-content: space-evenly;
}

:where(.css-dev-only-do-not-override-i0102m).ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
  display: none;
}

.ant-input-search .ant-input {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
:where(.css-dev-only-do-not-override-i0102m).ant-tabs-top > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-i0102m).ant-tabs-bottom > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-i0102m).ant-tabs-top > div > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-i0102m).ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: none;
  position: relative;
  font-family: Inter UI;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

  div.App > .card-container > div > div::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 49.965%;
  width: 12.5%;
  transform: translateX(-48%);
  border-bottom: 1px solid rgba(217, 217, 217, 1);
  margin-left: 1px;
}

.ant-tabs-ink-bar-animated {
  transform: translateX(-30%) !important;
}

:where(.css-dev-only-do-not-override-i0102m).ant-input {
  border-radius: 3px;
  margin-left: 36px;
  max-width: 938px;
}

:where(.css-dev-only-do-not-override-i0102m).ant-card-bordered {
  border: none;
}

.movieItemContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1010px;
  margin-left: 36px;
  gap: 36px;
}

.Pagination {
  width: fit-content;
  margin: 36px auto 0;
}

.ant-tabs-ink-bar-animated {
  width: 55% !important;
  margin-left: -10px;
}
:where(.css-48zcnw).ant-card .ant-card-body {
  padding: 0;
  border: 0;
}

.movieItemContainerChild {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.InputSearch {
  margin-bottom: 34px;
  margin-left: 36px;
  max-width: 938px;
}

.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.search-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 115px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.search-image-container img {
  width: 50px;
  height: 50px;
  background-color: transparent;
}
