.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
  margin: 0 15%;
}

.container {
  position: relative;
  display: flex;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
:where(.css-dev-only-do-not-override-nnuwmp).ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
  justify-content: space-evenly;
}
