@media (max-width: 420px) {
    div.card-container {
      max-width: 420px;
    }
  
    div.container {
      position: relative;
      display: flex;
      max-width: 388px;
      height: 245px;
    }
  
    div.movieItemContainer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      max-width: 420px;
      margin-left: 16px;
      gap: 20px;
    }

    .ant-tabs-ink-bar-animated {
        left: 20.5px;
        transform: translateX(-30%) !important;
        width: 45px;
    }
  
    .movieItemContainerChild,
    :where(.css-dev-only-do-not-override-i0102m).ant-card-bordered,
    :where(.css-dev-only-do-not-override-i0102m).ant-card .ant-card-body {
      max-width: 388px;
      height: 245px;
    }

    .movieItemContainer > .movieItemContainerChild > div.ant-card-bordered{
        width: 388px !important;
        height: 245px !important;
    }
  
    span.InputSearch {
        width: 388px;
        margin-bottom: 10px;

    }
    
    input.ant-input{
        margin-left: 16px !important;
    }

    :where(.css-dev-only-do-not-override-i0102m).ant-input {
      border-radius: 2px;
      margin-left: 16px;
      margin-right: 16px;
      max-width: 388px;
    }
  
    h3.cardHeader {
        max-width: calc(100% - 45px);
        font-family: Inter UI;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 7px;
        max-height: 50px;
        overflow: hidden;
    }
  
    div.container img {
      width: 20% !important;
      height: 45% !important;
      margin-left: 10px;
      padding-top: 6px;
    }

    ul.ratePosition {
        position: absolute;
        width: 240px;
        height: 46px;
        top: 210px;
        left: 140px;
        font-size: 16px;
    }

    div p.cardDescription {
        font-family: Inter UI;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        color: rgba(0, 0, 0, 1);
        position: absolute;
        left: 16px;
        top: 125px;
        margin-top: 0px;
        margin-bottom: 7px;
        padding-right: 7px;
    }
      
  }
  